body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: url('img/mesh-gradient.png'); */
    background-size: cover;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --card-color: #f3f3f3;
    --card-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    --icon-color: #f3f3f3;
    --front-color: #8d0000;
    --btn-color: #e30940;
    --font-color: #f3f3f3;
    --dark-font: #000;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
