#parent {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.error-main {
    text-align: center;
    overflow: hidden;
}

.error-main h1 {
    flex: 25%;
    margin: 6%;
}

.error-main a {
    flex: 75%;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
    background-color: tomato;
    color: whitesmoke;
    padding: 3%;
    border-radius: 10px;
}
