.gen {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gen aside {
    float: left;
    margin: 10% 7%;
    background-color: whitesmoke;
    padding: 17%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}

.gen section {
    float: right;
    margin: auto;
    background-color: whitesmoke;
    padding: 17%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
