.about main {
    text-align: center;
    color: white;
    margin-top: 8%;
}

.about main section {
    margin-top: 5%;
}

.image-group {
    text-align: center;
    display: inline-block;
    margin-top: 2%;
}

.imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
}

.imgs img {
    height: 10em;
    border-radius: 0%;
    padding: 2%;
}

.imgs p {
    text-align: center;
    display: flex;
    flex-direction: column;
}
