/* :root {
    --front-color
} */

/*  footer {
    border-top: 1px solid white;
}

footer p {
    color: whitesmoke;
    margin: auto;
    padding-bottom: -5em;
    text-align: center;
    font-size: 16px;
}
*/
