* {
    margin: 0;
    padding: 0;
}

#no-footer {
    min-height: calc(100vh - 95px);
}

footer {
    border-top: 1px solid white;

    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1% 0 1% 0;
}

footer p {
    color: whitesmoke;
    margin: auto;
    padding-bottom: -5em;
    font-size: 16px;
}

#card {
    margin: 3% auto;
    border-radius: 10px;
    text-align: center;
    background-color: var(--card-color);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 0 1% 2em 1%;
    row-gap: 50px;
}

#intro {
    padding: 2%;
}

#vids iframe {
    width: 80%;
    height: 420px;
}

#vids div:nth-child(1) {
    margin-bottom: 5%;
}

#outro {
    margin: 2%;
}
