* {
    margin: 0;
    padding: 0;
}

#card {
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    text-align: center;
    background-color: var(--card-color);
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    row-gap: 50px;
}

#intro {
    margin-top: 5%;
}

#vids iframe {
    margin: 1% auto;
}

#vids div:nth-child(1) {
    margin-bottom: 5%;
}

#outro {
    margin-bottom: 5%;
}
