* {
    margin: 0;
}

nav a {
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 18px;
    display: inline-block;
    line-height: 1em;
}

nav a:hover {
    color: gray;
}

#login {
    flex: 10%;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    align-self: flex-start;
    font-size: 20px;
}

#login h3 {
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
}

#signup {
    margin-top: 20px;
    margin-right: 43%;
    margin-left: 43%;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: x-large;
}

#signup:hover {
    color: gray;
}

#signup p {
    background-color: tomato;
    border-radius: 10px;
    padding: 10%;
}

.left {
    flex: 10%;
    text-align: center;
}

.middle {
    flex: 10%;
    text-align: left;
}

.right {
    flex: 70%;
    text-align: left;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: 0.1px solid gray;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0.00001px;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
}

aside {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside div {
    min-width: 10px;
    margin-top: 100px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: tomato;
    border-radius: 10px;
    text-align: center;
    padding: 10%;
    box-shadow: 2px 10px 25px black;
}

#ex1 {
    flex: 50%;
}

#ex2 {
    flex: 50%;
}

footer {
    margin-top: 5%;
    margin-bottom: 0;
    border: 0.1px solid gray;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-width: 0.00001px;
    padding-bottom: 5%;
}

footer p {
    color: whitesmoke;
    padding-top: 5%;
}
