$front-color: #e44242;
$filter-bg-color: white;

.forums-container {
    display: flex;
    min-height: 92vh;
    margin: 0 14%;

    .menu {
        margin: 5% auto;
        margin-bottom: 0;
        flex: 5%;
        display: flex;
        flex-direction: column;
    }
    .thread-container {
        margin: 5% auto;
        margin-bottom: 10%;
        flex: 70%;
        display: flex;
        flex-direction: column;
        background-color: white;
        backdrop-filter: blur(5px);
        box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.25);
        border-radius: 25px;
    }
    p {
        color: white;
        font-weight: bolder;
    }
}

.thrd {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 20%;
}

.upvote {
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
    height: 27px;
    width: auto;
    flex: 2%;
}

.thrd-content {
    flex: 100%;
    span {
        font-weight: normal;
        color: #a3a3a3;
    }
}

.threads {
    display: flex;
    flex-direction: column;
    color: #a3a3a3;
    position: relative;
    left: 0;
    right: 0;
}

.filter-closed {
    position: absolute;
    top: 2%;
    right: 3%;
    &:hover {
        cursor: pointer;
    }
    padding: 0.5% 0.3%;
    padding-bottom: 0;
    z-index: 2;
}

.filter-opened {
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 3;

    &:hover {
        cursor: pointer;
    }
}

.filter-options {
    z-index: 3;
}

.hide-border {
    border: none;
}

.filter-hide-text {
    display: none;
}

.filter-popup {
    position: absolute;
    top: 1%;
    right: 2%;
    background-color: $filter-bg-color;
    box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.25);
    border-radius: 10px;
    z-index: 2;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
}

.forums-create {
    text-align: center;
}

.filter-title {
    margin: 5%;
}

.options input[type="checkbox"] {
    transform: scale(1.5);
    border-radius: none;
}

#create-link {
    margin: 0 auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
}

.create-thread {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.forum-link {
    text-decoration: none;
}

.view-threads {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#view-link {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {
    .forums-container {
        flex-direction: column;
        margin: auto;
        margin-top: 10%;

        .thread-container {
            flex: 5%;
            width: 90%;
            height: 0%;
            min-height: 10vh;
        }
    }
}
