$front-color: #e44242;
$filter-bg-color: white;

.profile-container {
    display: flex;
    min-height: 92vh;
    margin: 0 14%;

    .menu {
        margin: 5% auto;
        margin-bottom: 0;
        flex: 5%;
        display: flex;
        flex-direction: column;
    }
    .profile-view {
        margin: 5% auto;
        margin-bottom: 10%;
        flex: 70%;
        background-color: white;
        box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.25);
        border-radius: 25px;
        // text-align: center;
    }
    p {
        color: white;
        font-weight: bolder;
    }
}

#prof-icon {
    box-shadow: 0 5px 4px rgba($color: #000000, $alpha: 0.25);
    border-radius: 50%;
}

.prof-info {
    position: relative;
    top: -5%;
    left: 5%;
}

.edit-prof {
    span {
        color: #00b2fa;
    }
    text-align: right;
    margin-top: 2%;
    margin-right: 2%;
}

.forums-create {
    text-align: center;
}

#create-link {
    margin: 0 auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
}

.create-thread {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.forum-link {
    text-decoration: none;
}

.view-threads {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#view-link {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        margin: auto;
        margin-top: 10%;
        min-height: 0vh;

        .profile-view {
            flex: 99%;
            width: 90%;
            height: 100%;
            min-height: 100vh;
        }
    }
}
